@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }

  #about:after,
  #about:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 150rem;
    height: 100rem;
    background: rgba(0, 0, 0, 0.025);
    animation: background 120s linear infinite;
  }
  
  html.dark #about:after,
  html.dark #about:before {
    background: rgba(255, 255, 255, 0.1);
  }

  #about:after {
    right: 1rem;
  }

  #about:before {
    left: 1rem;
    animation-delay: -30s;
    animation-direction: reverse;
  }

  @keyframes background {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
